# Node / Express
node_modules/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Runtime / local data
pids/
*.pid
*.seed
*.pid.lock
coverage/
.nyc_output/
.cache/
.tmp/
tmp/

# Build output
dist/
build/

.agents

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
